/*Nos Burgers*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jockey+One&display=swap");
/*slogan*/
@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
/*h1*/
@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto+Slab:wght@100..900&display=swap");
/*7/7S*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/*Menu Etudiant*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Road+Rage&family=Signika:wght@300..700&display=swap");
/*citation*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Road+Rage&family=Signika:wght@300..700&display=swap");

:root {
  --color1: #111111;
  --color2: rgb(240, 240, 240);
  --nav-height: 150px;
}

* {
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #ffba93;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

@keyframes blink {
  0% {
    opacity: 0.9;
    background-color: #6db11f;
  }
  50% {
    opacity: 1;
    background-color: #19d600;
  }
  100% {
    opacity: 0.9;
    background-color: #6db11f;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.no-scroll {
  overflow-y: hidden; /* Empêche le défilement */
}

#burger-menu {
  visibility: hidden;
  width: 40px;
  position: absolute;
  top: -103px;
  left: 45px;
  transition: 0.8s;
}

.unfolded {
  height: 600px;
  box-shadow: 0px 6px 6px 6px rgb(0 0 0 / 27%);
}
.unfolded #burger-menu {
  top: 148px !important;
  left: 65px;
}
.unfolded .unfolded_item {
  transform: translateX(0px) !important;
}
.unfolded #mister-cook {
  top: 0 !important;
  transform: translateY(0) !important;
}
.unfolded #logo {
  height: 120px;
  margin: 35px 0 10px 0;
}
.unfolded #ping {
  top: 145px !important;
  right: 60px;
}

.unfolded #idee1 {
  top: 535px !important;
  font-size: 1.17rem !important;
  margin-left: 0 !important;
}
#burger-menu1 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 550px;
  height: 150px;
  background: #ff7325;
  border-radius: 60px;
  transform: translateX(-1000px);
  transition: 0.9s;
}
nav h3 {
  margin: 15px 0 0 0;
  font-size: 1.8rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#burger-menu-liservices {
  position: relative;
  padding: 0;
  top: 0;
}
#burger-menu-liservices img {
  margin: 0 10px;
  height: 60px !important;
}
#burger-menu2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 130px;
  margin: 20px 0;
  background: #ff9e68;
  border-radius: 60px;
  text-align: center;
  color: #000000;
  transform: translateX(calc(1000px + 100%));
  transition: 0.9s;
}
#burger-menu2 a {
  color: #000000;
}
#burger-menu2 h4 {
  font-size: 2.5rem;
  margin: 10px 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  padding: 0;
  background: #f25714;
  height: 150px;
  width: 100%;
  border-radius: 0 0 100px 100px;
  transition: 0.8s;
  font-family: "mcfont", sans-serif;
  z-index: 1003;
}

#name {
  display: flex;
  align-items: center;
  height: 150px;
}

#mister-cook {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 20px;
  transition: 0.8s;
  top: 0;
}
h1 {
  margin: 0 0 0px 0;
  font-size: 6.5rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#logo {
  position: relative;
  transition: 0.8s;
  height: 150px;
  margin: 0 20px;
}

#point-vert {
  height: 30px;
  transform: translateX(5px) translateY(8px);
}

#idee1 {
  position: absolute;
  top: -50px;
  transition: 0.8s;
  opacity: 0;
  margin-top: 17px;
  display: flex;
}
#idee2 {
  position: absolute;
  text-align: center;
  right: 100px;
  transition: 0.8s;
  top: 50px;
  font-size: 1.3rem !important;
  margin-top: 15px;
}
#h3-idee2 {
  font-size: 1.3rem !important;

  margin: 5px;
  display: flex;
  justify-content: center;
}
#blinking-dot {
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: blink 1.5s infinite, scale 1.5s infinite;
  margin: 4px 0 0 10px;
}
#blinking-dot2 {
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: blink 1.5s infinite, scale 1.5s infinite;
  margin: 3px 0 0 10px;
  transform: translateX(-30px) translateY(20px);
}
#services {
  position: relative;
  height: 50px;
  margin: 30px 0 0 20px;
  left: 0;
  transition: 0.8s;
}

.liservices {
  display: flex;
  position: absolute;
  left: 0;
  top: 30px;
  transition: 0.8s;
}

#ping {
  position: absolute;
  width: 40px;
  top: -50px;
  right: 40px;
  transition: 0.8s;
}

#acceuil {
  background: #f25714;
  padding-top: 200px;
  border-radius: 0 0 300px 300px / 0 0 25% 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#bgslogan {
  background: #0000008a;
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 1001;
}

#slogan {
  font-size: 6.8rem;
  margin: 40px 0;
  color: #f25714;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

#bigm {
  width: 1300px;
}

#bigm-with-fries {
  position: relative;
}

#fries_left {
  position: absolute;
  left: -260px;
  top: -150px;
  width: 380px;
  animation: animfries 7s infinite ease-in-out;
  z-index: 1002;
}
#fries_right {
  position: absolute;
  /* right: 60px; */
  /* top: 200px; */
  right: -260px;
  top: -150px;
  width: 380px;
  animation: animfries 7s infinite ease-in-out;
  z-index: 1002;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#intro {
  display: flex;
  justify-content: space-between;
  width: calc(70vw + 100px);
  margin-top: 100px;
}

#left-intro {
  width: 40%;
}

#septsursept {
  background: #f25714;
  height: min-content;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  color: rgb(223, 223, 223);
  margin-top: 80px;
  padding: 25px 0;
}

#septsursept h3 {
  font-size: 3.5vw;
  margin: 0;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#septsursept p {
  font-size: 2vw;
  text-align: left;
  margin: 30px;
}

#left-intro img {
  height: 100px;
  margin: 0 30px;
}

#large-menu {
  background: #ff7325;
  border-radius: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  color: #5e5e5e;
  font-size: 1.3rem;
}
#large-menu div {
  padding-right: 15px;
}
#large-menu h4 {
  color: #ffba93;
  font-size: 2.5rem;
  margin: 15px 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

#naan-maison {
  background: #ff9e68;
  border-radius: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  color: #5e5e5e;
  font-size: 1.3rem;
}
#naan-maison div {
  padding-right: 15px;
}
#naan-maison h4 {
  color: #ffd5bd;
  font-size: 2.5rem;
  margin: 15px 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

#map {
  text-align: center;
  width: 55%;
}

#map h2 {
  font-size: 6rem;
  color: #822700;
  margin: 0;
}

iframe {
  width: 100%;
  margin-top: 20px;
  border-radius: 30px;
}

#chicken {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
#chicken-text {
  background: #800000;
  height: min-content;
  width: 40vw;
  font-size: 3rem;
  padding: 60px;
  z-index: 1;
  border-radius: 100px;
  text-align: center;
  color: #ffba93;
  opacity: 0.8;
  margin-top: 150px;
  transform: translateX(-8vw);
}

#chicken p {
  margin: 0;
}

#chicken img {
  width: calc(300px + 20vw);
  margin-left: 100px;
  position: absolute;
  transform: translateX(300px);
  top: -5vw;
}

#form1 {
  background: #ff9e68;
  width: 280vw;
  height: 1500px;
  border-radius: 100% 100% 0 0;
  position: absolute;
  z-index: -1;
}

#menu-etudiant {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 180px 0 100px 0;
  text-align: center;
  color: #580808;
  z-index: -3;
}

#menu-etudiant h3 {
  font-size: 6.5rem;
  margin-top: 60px;
  color: #f25714;
  margin-bottom: 0;
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

#menu-etudiant p {
  font-size: 2.5rem;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
  width: 80%;
}
#menu-etudiant p strong {
  font-size: 3.5rem;
  font-family: "Kavoon", serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 1000px;
}

#question-citation {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: -2;
}

#form2 {
  background: #f37705;
  width: 200vw;
  height: 2000px;
  border-radius: 100% 100% 0 0;
  position: absolute;
  z-index: -1;
}

#question {
  text-align: center;
  color: #8e2b00;
  width: 75vw;
  font-size: 3.5rem;
  margin: 200px 0 100px 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#citation {
  text-align: center;
  color: #f2c590;
  width: 80vw;
  font-size: 5rem;
  margin: 0 0 100px 0;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

#menu {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ff9a3d;
  border-radius: 100% 100% 0 0;
  position: relative;
}

#section2 {
  margin-top: 0px;
  width: 100%;
}

#form3 {
  background: #ff9a3d;
  width: 170vw;
  height: 1500px;
  border-radius: 100% 100% 0 0;
  position: absolute;
  z-index: -1;
}

#form4 {
  background: #ff9a3d;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  transform: translateY(200px);
}

#pre-menu {
  margin-top: 100px;
  font-size: 4rem;
  color: #822700;
}

#menu-with-button {
  display: flex;
  align-items: center;
  position: relative;
}

#caroussel-btn-l {
  background: none;
  border: none;
  position: absolute;
  left: 0;
}
#caroussel-btn-r {
  background: none;
  border: none;
  position: absolute;
  right: 0;
}

.caroussel_btn {
  height: 50px;
  transition: 0.1s;
}

#prev:active {
  height: 44px;
  transform: translateX(3px);
}

#next:active {
  height: 44px;
  transform: translateX(-3px);
}

.menu {
  background: var(--color1);
  border-radius: 35px;
  padding: 20px;
  margin: 0 70px 0 70px;
  width: calc(600px + 35vw);
  transition: transform 1s;
  z-index: 1;
}

.menu_name {
  color: var(--color2);
  margin: 0px;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
}

#fleche {
  height: 50px;
  margin: 8px 0 0 20px;
  transition: 0.6s;
}

#h2-fleche {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards div {
  margin: 0 5px 60px 5px;
  border-radius: 25px 25px 0 0;
}

#nos-burgers .card-s {
  background: linear-gradient(#ff9915 50%, var(--color1));
}
#nos-burgers .card-m {
  background: linear-gradient(#ff9915 50%, var(--color1));
}
#nos-naan .cards div {
  background: linear-gradient(#e7d749 50%, var(--color1));
}
#nos-sandwich .cards div {
  background: linear-gradient(#13a1cc 50%, var(--color1));
}
#nos-assiettes .cards div {
  background: linear-gradient(#aa132f 50%, var(--color1));
}
#nos-tacos .cards div {
  background: linear-gradient(#6219ac 50%, var(--color1));
}
#nos-galettes .cards div {
  background: linear-gradient(#383cb1 50%, var(--color1));
}

.card-s {
  text-align: center;
  width: calc(16% - 10px);
  height: calc(160px + 5vw);
}

.card-m {
  text-align: center;
  width: calc(24% - 10px);
  height: calc(220px + 7vw);
}
#assiettes-container {
  height: calc(220px + 7vw + 160px + 5vw + 65px);
  display: flex;
  justify-content: center;
  margin: 15px 0 55px 0;
}
#assiettes {
  height: 100%;
  border-radius: 25px;
}
#tacos-container {
  height: calc(220px + 7vw + 160px + 5vw + 90px);
  display: flex;
  justify-content: center;
  margin: 15px 0 30px 0;
}
#tacos {
  height: 100%;
  border-radius: 25px;
}
#desserts-container {
  height: calc(220px + 7vw + 160px + 5vw + 90px);
  display: flex;
  justify-content: center;
  margin: 15px 0 30px 0;
}
#desserts {
  height: 100%;
  border-radius: 25px;
}

.card-s img {
  width: 90%;
  margin-top: 10px;
}
.card-m img {
  width: 90%;
}

.cards div p {
  text-align: left;
  margin-left: 10px;
}

.card-s p {
  font-size: calc(0.55vw + 1rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--color2);
  transform: translateY(-20px);
}

.card-m p {
  font-size: calc(0.55vw + 1.7rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--color2);
  transform: translateY(-30px);
}

#price {
  position: absolute;
  transform: translateY(-45px);
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

#passez-commande {
  text-align: center;
  margin: 80px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#passez-commande h2 {
  font-size: 3rem;
  color: #f25714;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

#livreur {
  display: flex;
  align-items: center;
  background: #ffd5bd;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  font-size: 2rem;
  text-align: left;
  border-radius: 50px;
  color: #ff9a3d;
}
#livreur p {
  width: 45%;
  margin: 30px 0 30px 50px;
}
#livreur h3 {
  width: 45%;
  text-align: center;
  margin: 30px 50px 30px 0;
  color: #ff9a3d;
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#plateforme {
  width: 60%;
  text-align: center;
  background: #ffd5bd;
  margin-top: 30px;
  border-radius: 50px;
  font-size: 2rem;
}

#plateforme p {
  color: #ff9a3d;
  margin: 30px 10px;
}

#plateforme ul {
  padding: 0;
}

#plateforme li {
  display: inline;
  height: 100px;
  margin: 0 8px;
}

#plateforme img {
  width: 130px;
  border-radius: 20px;
}

svg {
  margin: 0;
  height: 130px;
  width: 100%;
  fill: #ff9a3d;
  transform: translateY(-5px);
}

#svg {
  background: #000000;
  z-index: 1;
}

#icons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 85%;
  margin: 100px auto 0 auto;
  color: #ffba93;
}

#icons article {
  width: 30%;
}

#icons img {
  height: 100px;
}

#icons h3 {
  font-size: calc(0.8rem + 1vw);
  color: #f5f5f5;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#icons p {
  font-size: calc(0.4rem + 1vw);
  margin: 10px 60px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#after-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 100px 0;
  width: 100vw;
}

#barre-l {
  height: 2px;
  width: 30%;
  background: #ff9a3d;
  animation: animbarl 5s infinite ease;
}
#barre-r {
  height: 2px;
  width: 30%;
  background: #ff9a3d;
  animation: animbarr 5s infinite ease;
}

#after-icons p {
  color: #ff9a3d;
  margin: 0 30px 4px 30px;
  font-size: 2rem;
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

#svg-bot {
  transform: translateY(5px) rotateZ(180deg);
  fill: #ffba93;
}

#commentaires {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  margin: 0;
  width: 100%;
}

#commentaires h3 {
  text-align: center;
  color: #580808;
  font-size: calc(0.8rem + 2vw);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}
#commentaires #com-h32 {
  margin: 10px 0;
  margin: auto;
}

#commentaires ul {
  margin: 0;
  padding: 0;
}
#com-container li {
  background: #ff9915;
  padding: 20px 40px;
  margin-top: 30px;
  margin-left: 15%;
  border-radius: 35px 0 0 35px;
}
#com-container h4 {
  font-size: 1.8rem;
  margin: 0;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#com-container p {
  font-size: 1.4rem;
  margin: 5px 0 10px 0;
  width: 70%;
}

#more-com {
  background: #ffa877;
  border: 2px solid #ffa877;
  font-size: 1.2rem;
  width: 300px;
  margin: 20px 0 0 15%;
  padding: 10px 8px;
  border-radius: 10px;
}
#more-com:hover {
  border: 2px solid #eb8144;
  background: #fc9e67;
}
#more-com:active {
  background: #ff9253;
  border: 2px solid #dd7438;
}
#commentaires #share {
  font-size: 2rem;
  margin: 100px auto 20px 0;
}
#com-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0 15%;
}
#input-text {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border-color: #ffffff;
  outline: none;
  border: 3px solid transparent;
  transition: 0.3s;
  font-size: 1.3rem;
  padding-left: 20px;
}
#input-text::placeholder {
  font-size: 1.3rem;
}
#input-text:focus {
  background: #ffc6a5;
  border: 3px solid #ffebdf;
}

.error {
  display: none;
  width: 100%;
  margin: 15px 0 0 0;
}
#error-com div {
  background: hsl(0, 100%, 75%);
  border: #ff3d3d 2px solid;
  border-radius: 20px;
  width: auto;
  max-width: 60%;
  margin: 0 auto 0 0;
}
#error-name div {
  background: hsl(0, 100%, 75%);
  border: #ff3d3d 2px solid;
  border-radius: 20px;
  width: auto;
}
.error div p {
  margin: 10px 10px 10px 10px;
  font-size: 1rem;
}

#com-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  background: none;
  border: none;
  transition: 0.8s;
  font-size: 1.5rem;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  color: black;
}
#com-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 10px;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  border: 3px solid #f25714;
  background: #ff7122;
  transition: 0.8s;
  font-size: 1.5rem;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  color: black;
}
#com-submit:hover {
  background-color: #ff8442;
  border: 3px solid #f35f1f;
  transition: background-color 0s, border 0s !important;
}
#com-submit:active {
  background-color: #ff955c;
  border: 3px solid #ff6f32;
  transition: background-color 0s, border 0s !important;
}

button:hover {
  cursor: pointer;
}

.active {
  display: flex !important;
}
#popup {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}
#popup-content {
  position: relative;
  width: 700px;
  height: min-content;
  padding: 50px 30px;
  background: #ffc6a5;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-close-popup {
  background: none;
  border: none;
}

#popup-content img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}

#popup-content h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  color: #580808;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#name-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#name-input {
  text-align: center;
  height: 40px;
  width: 170px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
#name-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 70px;
  border-radius: 0 20px 20px 0;
  border: none;
  margin: 0;
  background: #ffdecb;
  font-size: 1rem;
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  color: black;
}

.succes {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#succes1 {
  margin: 0px 90px 0 90px;
  color: #292929;
  font-size: 1.4rem;
}
#succes2 {
  margin-top: 20px;
  color: #f25714;
  font-size: 1.8rem;
}

footer {
  position: relative;
  height: 300px;
  background: #f37705;
  color: #ffe0cf;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  border-radius: 70px 70px 0 0;
  width: 100%;
  margin-top: 70px;
  position: relative;
  padding-bottom: 30px;
}
footer div {
  width: max-content;
}
footer h3 {
  font-size: 3.3rem;
  margin: 0 0 20px 0;
}
footer p {
  font-size: 2rem;
  margin: 0;
}

footer img {
  height: 35px;
  margin-left: 10px;
  transform: translateY(7px);
}

#footer2 {
  text-align: left;
}

#copyright {
  font-size: 1.1rem;
  position: absolute;
  bottom: 20px;
}

.invisible_b {
  opacity: 0;
  transform: translateY(70px);
}
.invisible_l {
  opacity: 0;
  transform: translateX(-100%);
}
.invisible_r {
  opacity: 0;
  transform: translateX(100%) !important;
}

.anim_button {
  opacity: 0;
  transform: translateX(100%);
}
.invisible_com {
  transform: translateX(90%);
}
.invisible_form {
  transform: translateY(200px);
}
.visible {
  opacity: 1;
  transform: translateY(0) translateX(0);
}

.slide_0 {
  position: absolute;
  transform: translateX(-1450px);
}
.slide_2 {
  position: absolute;
  transform: translateX(1480px);
}
.slide_3 {
  transform: translateX(3140px);
  position: absolute;
  opacity: 0;
}
.slide_4 {
  transform: translateX(-3140px);
  position: absolute;
  opacity: 0;
}
.slide_5 {
  transform: translateX(-3140px);
  position: absolute;
  opacity: 0;
}

@keyframes animfries {
  50% {
    transform: translateY(30px);
  }
}
@keyframes animbarr {
  0% {
    width: 0%;
    margin-left: 0%;
  }
  25% {
    width: 30%;
    margin-left: 0%;
  }
  50% {
    width: 0%;
    margin-left: 30%;
  }
  75% {
    width: 30%;
    margin-left: 0%;
  }
  100% {
    width: 0%;
    margin-left: 0%;
  }
}
@keyframes animbarl {
  0% {
    width: 0%;
    margin-right: 0%;
  }
  25% {
    width: 30%;
    margin-right: 0%;
  }
  50% {
    width: 0%;
    margin-right: 30%;
  }
  75% {
    width: 30%;
    margin-right: 0%;
  }
  100% {
    width: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 1450px) {
  #idee2 {
    display: none;
  }
  #liservices {
    top: -200px;
  }
  #bigm {
    width: 90vw;
  }
  #fries_left {
    width: 25vw;
    left: -13vw;
    top: -90px;
  }
  #fries_right {
    width: 25vw;
    right: -13vw;
    top: -90px;
  }
  #icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 70px;
  }

  #icons article {
    width: 70%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #icons img {
    height: 130px;
  }
  #icons h3 {
    font-size: calc(2rem + 1vw);
    color: #f5f5f5;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 20px 0;
  }
  #icons p {
    font-size: calc(1.5rem + 1vw);
    margin: 10px 0;
    width: calc(280px + 3.6vw);
  }
  #after-icons {
    margin: 0 0 50px 0;
  }
  #after-icons p {
    font-size: calc(0.8rem + 2vw);
    text-align: center;
    width: calc(300px + 10vw);
  }
  #commentaires h3 {
    font-size: calc(0.7rem + 2vw);
  }
}

@media screen and (max-width: 1300px) {
  #chicken-text {
    margin-top: 80px;
  }
  #chicken p {
    font-size: 2rem;
  }

  #chicken img {
    transform: translateX(150px);
    top: -100px;
  }
  #menu-with-button {
    display: flex;
    flex-direction: column;
  }
  #menu {
    border-radius: 100%;
  }
  .menu {
    padding: 20px;
    margin: 40px 70px 0 70px;
    width: 700px;
    height: 78px;

    overflow: hidden;
    transition: 1.5s;
  }

  .cards {
    transform: translateY(25px);
  }

  .card-s {
    text-align: center;
    width: 220px;
    height: calc(220px + 3vw);
  }

  .card-m {
    text-align: center;
    width: 335px;
    height: 360px;
  }

  #assiettes-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  #assiettes {
    width: 100%;
    margin: 10px 0 0px 0;
  }

  #tacos-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  #tacos {
    width: 100%;
    margin: 10px 0 0px 0;
  }

  #desserts-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  #desserts {
    width: 100%;
    margin: 10px 0 0px 0;
  }

  .slide_0 {
    position: relative;
    transform: translateX(-0);
  }
  .slide_2 {
    position: relative;
    transform: translateX(0);
  }
  .slide_3 {
    transform: translateX(0);
    position: relative;
    opacity: 1;
  }
  .slide_4 {
    transform: translateX(-0);
    position: relative;
    opacity: 1;
  }
  .slide_5 {
    transform: translateX(-0);
    position: relative;
    opacity: 1;
  }
  .caroussel_btn {
    display: none;
  }
  #fleche {
    height: calc(35px + 2vw);
  }
  #passez-commande {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1160px) {
  #left-intro h4 {
    font-size: calc(0.4rem + 2.2vw);
  }

  #menu-etudiant {
    margin: 100px 0 60px 0;
  }
  #form1 {
    width: 320vw;
  }
  #form2 {
    width: 240vw;
  }
  #form3 {
    width: 210vw;
  }
  #barre-l {
    animation: none;
  }
  #barre-r {
    animation: none;
  }
  #input-text::placeholder {
    font-size: calc(0.7rem + 1.2vw);
  }
  #commentaires h3 {
    font-size: 2rem;
    width: 400px;
    margin: auto;
  }
  #commentaires #com-h32 {
    width: 90%;
  }
  footer {
    height: 250px;
  }
  footer h3 {
    font-size: 2.5rem;
    margin: 0 0 20px 0;
  }
  footer p {
    font-size: 1.5rem;
    margin: 0;
  }
  footer img {
    height: 30px;
    margin-left: 10px;
    transform: translateY(7px);
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 12vw;
    transition: none;
  }
  #liservices {
    display: none;
  }
  #burger-menu {
    visibility: visible;
  }
  #burger-menu1 {
    display: flex;
  }
  #burger-menu2 {
    display: flex;
  }
  #logo {
    height: 25vw;
    margin: 0 10px;
  }
  #acceuil {
    padding-top: 0;
  }
  #bgslogan {
    margin-top: calc(100px + 25vw);
  }
  #slogan {
    font-size: 12vw;
    margin: 3vw 0;
  }
  #bigm {
    margin-bottom: 50px;
  }
  #intro {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #left-intro {
    width: 80%;
  }
  #septsursept h3 {
    font-size: 6vw;
  }

  #septsursept p {
    font-size: 4vw;
  }
  #left-intro h4 {
    font-size: calc(0.6rem + 2.9vw);
  }
  #map {
    margin-top: 50px;
    width: 90%;
  }
  #map h2 {
    font-size: 10vw;
  }
  iframe {
    height: 400px;
  }
  #chicken {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #chicken-text {
    padding: 30px;
    width: 80vw;
    transform: translateX(0);
    margin-top: 100px;
  }
  #chicken img {
    position: relative;
    transform: translateX(0) translateY(0);
    top: 0;
    left: 0;
    margin: 30px 0 0 0;
    width: calc(180px + 37vw);
  }
  #menu-etudiant h3 {
    font-size: 3.5rem;
  }
  #menu-etudiant p strong {
    font-size: 2rem;
  }
  #menu-etudiant p {
    font-size: 1.5rem;
  }
  #question {
    font-size: 1.5rem;
    margin: 100px 0 50px 0;
  }
  #citation {
    font-size: 2rem;
    width: 500px;
  }
  #pre-menu {
    width: 50vw;
    text-align: center;
  }
  .menu {
    padding: 20px;
    width: 73vw;
    height: calc(0.7rem + 4vw + 20px);
  }
  .menu_name {
    font-size: calc(0.7rem + 4vw);
  }
  #fleche {
    height: calc(30px + 3vw);
    margin: 5px 0 0 20px;
  }

  .card-s {
    width: calc(24vw - 10px);
    height: calc(190px + 3vw);
  }
  .card-m {
    width: calc(36vw - 10px);
    height: 350px;
  }

  .card-m #price {
    transform: translateY(-55px);
  }
  #passez-commande h2 {
    font-size: calc(1.3rem + 3vw);
  }
  #livreur {
    flex-direction: column;
    text-align: center;
  }
  #passez-commande p {
    margin: 15px 0 5px 0;
    width: 65%;
    font-size: calc(1rem + 2.3vw);
  }
  #livreur h3 {
    margin: 5px 0 15px 0;
    width: 90%;
  }
  #plateforme {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
  #plateforme p {
    width: 80%;
  }
  #livreur h3 {
    margin: 5px 0 15px 0;
    width: 90%;
  }
  #commentaires h3 {
    font-size: calc(1.2rem + 1vw);
  }
  #commentaires p {
    font-size: calc(0.6rem + 1.7vw);
    margin: 5px 0 10px 0;
    width: 100%;
  }
  #more-com {
    margin-top: 10px;
  }
  #commentaires #share {
    margin: 50px auto 20px 0;
  }
  #error-com div {
    padding: 0 15px;
  }
  #popup-content {
    width: 80%;
  }
  #popup-content h2 {
    margin: 0 30px;
    font-size: 1.9rem;
  }
  #succes1 {
    font-size: 1.2rem;
    margin: 0px 60px 0 60px;
  }
  footer {
    height: 200px;
  }
  footer h3 {
    font-size: 2.2rem;
  }
  footer p {
    font-size: 1.3rem;
  }
  #copyright {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 700px) {
  #burger-menu1 {
    width: 90vw;
  }
  #burger-menu2 {
    width: 90vw;
  }
  nav h3 {
    font-size: calc(0.6rem + 3vw);
  }
  #idee1 {
    margin-top: 22px;
  }
  #blinking-dot {
    margin-top: 0px;
  }
  #burger-menu-liservices img {
    height: 55px !important;
  }
  #burger-menu2 h4 {
    font-size: 2.4rem;
  }
  #ping {
    top: -50px !important;
  }
  #idee1 {
    font-size: 1rem;
  }
  #bigm {
    width: 90vw;
  }
  #bgslogan {
    margin: calc(100px + 25vw) 0 15vw 0;
  }
  #septsursept {
    padding-bottom: 5px;
  }
  #septsursept h3 {
    font-size: 8vw;
  }
  #septsursept p {
    font-size: calc(0.8rem + 3vw);
  }
  #large-menu p {
    font-size: calc(0.5rem + 2vw);
  }
  #naan-maison p {
    font-size: calc(0.5rem + 2vw);
  }
  #chicken-text {
    border-radius: 80px;
    width: 65vw;
  }
  #chicken p {
    font-size: calc(0.5rem + 4vw);
  }
  #citation {
    width: 60vw;
  }
  #form1 {
    width: 340vw;
  }
  #form2 {
    width: 260vw;
  }
  #form3 {
    width: 230vw;
  }
  #pre-menu {
    font-size: calc(3rem + 2vw);
    width: 80%;
  }
  .cards div {
    margin: 0 5px 30px 5px;
  }
  .card-s {
    height: calc(95px + 13vw);
  }
  .card-m {
    height: min-content;
  }

  .card-m p {
    font-size: calc(1.5vw + 0.9rem);
    margin: calc(60px - 4vw) 0 0 5px;
  }

  .cards div p {
    margin: calc(60px - 4vw) 0px 0px 5px;
  }
  #livreur h3 {
    font-size: calc(1.9rem + 1.5vw);
  }
  #plateforme img {
    width: calc(35px + 10vw);
  }
  #icons p {
    width: calc(230px + 9vw);
  }
  #commentaires {
    margin: 0;
    padding-top: 30px;
  }
  #more-com {
    margin: 20px auto;
  }
  #commentaires #share {
    margin: 50px auto 20px 0;
  }
  #com-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 0 5%;
  }
  #input-text {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border-color: #ffffff;
    outline: none;
    border: 3px solid transparent;
    transition: 0.3s;
    font-size: 1.3rem;
    padding-left: 20px;
  }
  #popup-content {
    width: 70%;
    padding-bottom: 15px;
  }
  #popup-content img {
    width: 27px;
  }
  #popup-content h2 {
    font-size: 1.4rem;
    margin: 0 5px;
  }
  #succes1 {
    font-size: 1rem;
    margin: 0px 15px 0 15px;
  }
  #succes2 {
    font-size: 1.5rem;
  }
  footer {
    height: auto;
    flex-direction: column;
    margin-top: 40px;
  }
  footer div {
    margin: 30px 0 0 0;
    padding: 0 0 30px 0;
    width: 350px;
    border-bottom: #ffe0cf dashed 1px;
  }
  footer h3 {
    font-size: 3.3rem;
  }
  footer p {
    font-size: 2rem;
  }
  #footer2 {
    text-align: center;
  }
  #footer3 {
    border-bottom: none;
  }
  footer img {
    height: 35px;
    margin-left: 10px;
    transform: translateY(7px);
  }
}
@media screen and (max-width: 425px) {
  #blinking-dot {
    width: 17px;
    height: 17px;
    margin: 0px 0 0 8px;
  }
  #blinking-dot2 {
    width: 17px;
    height: 17px;
    margin-left: 8px;
  }
  .unfolded {
    height: 550px;
  }
  .unfolded #burger-menu {
    left: 45px;
  }
  .unfolded #ping {
    right: 40px;
  }
  #mister-cook {
    transform: translateY(30px);
  }
  .unfolded #logo {
    margin-top: 45px;
  }
  #burger-menu1 {
    height: 125px;
    border-radius: 50px;
  }
  #burger-menu2 {
    height: 110px;
    border-radius: 50px;
  }
  .unfolded #idee1 {
    top: 490px !important;
  }
  nav h3 {
    margin: 10px 0 0 0;
  }
  #burger-menu2 h3 {
    margin: 0 20px;
  }
  #burger-menu-liservices img {
    margin: 0 5px;
    height: 50px !important;
  }
  #burger-menu2 h4 {
    font-size: 2.2rem;
    margin: 0;
  }
  #burger-menu {
    width: 30px;
    left: 30px;
  }
  #idee1 {
    font-size: calc(0.7rem + 1.3vw);
    margin-left: 40px;
  }
  #left-intro img {
    height: 20vw;
    margin: 0 10px;
  }
  #chicken-text {
    margin-top: 50px;
  }
  #menu-etudiant {
    margin: 50px 0 30px 0;
  }
  #form1 {
    width: 440vw;
  }
  #form2 {
    width: 340vw;
  }
  #form3 {
    width: 290vw;
  }
  #question {
    font-size: 1.5rem;
    margin: 60px 0 30px 0;
  }
  #citation {
    font-size: 2rem;
    width: 90vw;
    margin-bottom: 30px;
  }
  #pre-menu {
    font-size: calc(2rem + 2.7vw);
    margin-top: 60px;
    margin-bottom: 10px;
  }
  #price {
    font-size: 1rem;
  }
  .card-s p {
    font-size: calc(0.6rem + 0.55vw);
  }
  .cards div p {
    margin: calc(60px - 4vw) 0 0 5px;
  }
  .card-s img {
    width: 98%;
  }
  #after-icons p {
    color: #ff9a3d;
    margin: 0 5px 4px 5px;
  }
  #passez-commande p {
    width: 90%;
  }

  #livreur {
    border-radius: 30px;
  }
  #plateforme {
    border-radius: 30px;
  }
  #plateforme ul {
    margin: 20px 0;
  }
  #plateforme li {
    margin: 0;
  }
  #plateforme img {
    border-radius: 10px;
  }
  #commentaires h3 {
    width: 90%;
    font-size: 1.5rem;
  }
  #commentaires li {
    padding: 10px 30px;
    margin-top: 20px;
    margin-left: 7%;
  }
  #more-com {
    font-size: 1rem;
    width: 240px;
  }
  #commentaires h3 {
    font-size: 1.8rem;
  }
  #input-text {
    padding-left: 4%;
  }
  #input-text::placeholder {
    font-size: calc(0.7rem + 1.5vw);
  }
  #error-com {
    width: 100%;
  }
  #error-com div {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
  }
  #com-remove {
    font-size: 1.3rem;
  }
  #com-submit {
    margin: 10px 0 10px 10px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.2rem;
  }
  #popup-content {
    width: 90%;
    padding: 0 0 10px 0;
  }
  #popup-content img {
    width: 27px;
  }
  #popup-content h2 {
    font-size: 1.4rem;
    margin: 40px 40px 5px 40px;
  }
  #succes1 {
    font-size: 1rem;
    margin: 45px 35px 0 35px;
  }
  #succes2 {
    font-size: 1.3rem;
  }
  footer {
    height: auto;
    flex-direction: column;
    margin-top: 40px;
  }
  footer div {
    margin: 30px 0 0 0;
    padding: 0 0 30px 0;
    width: 280px;
  }
  footer h3 {
    font-size: 2.5rem;
  }
  footer p {
    font-size: 1.6rem;
  }

  footer img {
    height: 30px;
  }
}

@media screen and (min-width: 2000px) {
  .slide_0 {
    position: absolute;
    transform: translateX(-72vw);
  }
  .slide_2 {
    position: absolute;
    transform: translateX(calc(72vw + 30px));
  }
}

@keyframes changementHauteur {
  0% {
    height: 100px;
  }
  100% {
    height: min-content;
  }
}
